.app {
  width: 100vw;
  height: 100%;
  background-color: #F2F1F1;
  main {
    width: 1600px;
    margin: 0 auto;
    height: 763px;
    padding-top: 20px;
    .lay {
      width: 1530px;
      margin: 0 auto;
   
    }
  }
}